body {
    background-color: lightblue;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #343a40; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .menuitem{
    background-color: rgba(255,255,255,.1);
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: rgba(133, 251, 255, 0.267);
    text-align: center;
    vertical-align: middle;
    margin: 10%;
    height: 35px;
    line-height: 35px; 
	width: 80%;
}

.openbtn {
    width: 23px;
    margin-left: 5px;
    margin-top: 5px;

    padding-left: 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.747);
}

.sidenav .menuitem:hover{
    background-color: rgba(255, 255, 255, 0.507);
    cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn:hover {
    cursor: pointer;
    color: #9ffffa;
}

.sidenav .closebtn {
    position: absolute;
    color: #b3b3b362;
    top: 0;
    font-family: monospace;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
