.beer {
    height: auto;
    margin: 0px auto;
    padding: 20px;
    background-color:white;
    text-align:justify;
}

.big {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    text-transform:uppercase;
    color:rgb(43, 79, 126);
    font-weight:bold;
}

.beer-span{

    font-weight:lighter;
    color:rgb(236, 171, 49);
    text-transform: capitalize;

}
.rate {
    text-align: right;
    font-weight: bold;
}

.beer-right {
    float: left;
    margin-right: 20px;
}